header.apple-header {
    z-index: 10001;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    top: 0;
   .hide-innactive {
    display: none !important;
   }

   .hide-logo, .white-logo {
    display: none;
   }

   .hide-active{
    display: block !important;
    margin-top: 10px;
   }

   .menu_click_opened {
    color: $darkest !important;
   }

   .span-dark{
    background: $darkest !important;
   }

    .top-bar {
       height: auto;
    }

    nav {
        position: relative;
        z-index: 10001;
        margin: 0 auto;
        padding: 6px 0 6px 0;
        background-color: transparent !important;
        @include transition;

        li ul {
            position:absolute;
            top: 50px;
            z-index:1;
            list-style:none;
            display: block;
            width: 200px;
            margin:0;
            padding:0;
            padding-bottom: 20px;
            li {
                overflow:hidden;
                height:0;
                padding: 0 !important;
                width:200px;
                *zoom:1;
                background: #EF592A !important;
                -webkit-transition:all 200ms ease-in;
                -moz-transition:all 200ms ease-in;
                -o-transition:all 200ms ease-in;
                transition:all 200ms ease-in;
                a {
                    -webkit-transition:color 200ms ease-in;
                    -moz-transition:color 200ms ease-in;
                    -o-transition:color 200ms ease-in;
                    transition:color 200ms ease-in;
                }
                a:hover {
                    color: #f1f1f1 !important;
                }
            }
        }
        ul:after {
            clear:both;
        }

        .sol-dropdown {
            -webkit-transition:200ms ease;
            -moz-transition:200ms ease;
            -o-transition:200ms ease;
            transition:200ms ease;
        }

        ul > li.sol-dropdown:hover {
            background: #EF592A !important;
            a {
                color: white !important;
            }

            ul li {
                height:36px;
                padding-bottom: 50px !important;
            }
        }

        ul > li.sol-dropdown .sol-sub-menu li:hover a {
            color: #ffd6aa !important;
        }

        .sol-sub-menu li a:hover {
            color: orange !important;
        }

        .small-10{
            padding: 0;
            img {
                max-height: 40px;
                @media screen and (max-width: 700px) {
                    max-height: 35px;
                }
                @media screen and (max-width: 500px) {
                    max-height: 32px;
                }
            }
        }
        .small-2 {
            button {

                display: inline-block;
                float: right;
                width: 20px;
                border: none;
                span {
                    display: block;
                }
            }
            p {
                font-size: 1.1em;
                float: right;
                margin-top: 10px;
                margin-right: 10px;
                color: $lightest;
                @media screen and (max-width: 720px) {
                    display: none;
                }
            }

            &.menu-click{
                padding-right: 0;
            }
            #nav-icon {
                position: relative;
                float: right;
                width: 20px;
                height: 30px;
                margin: 7px auto;
                cursor: pointer;

                span {
                    position: absolute;
                    display: block;
                    float: right;
                    width: 100%;
                    height: 2px;
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    opacity: 1;
                    border-radius: 9px;
                    background: $lightest;
                    &:nth-child(1) {
                        top: 10px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }
                    &:nth-child(2) {
                        top: 16.5px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }
                    &:nth-child(3) {
                        top: 24px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }
                }
            }

            .white-span {
                background-color: $lightest !important;
            }
            .black-span {
                background-color: $darkest !important;
            }
            .menu-click-opened {
                background-color: $darkest !important;
                span {
                    background-color: $darkest !important;
                }
                p {
                    color: $darkest !important;
                }
            }
            .open {
                span {
                    &:nth-child(1) {
                        top: -8px;
                        left: 3px;
                        -webkit-transform: rotate(45deg) !important;
                        -moz-transform: rotate(45deg) !important;
                        -o-transform: rotate(45deg) !important;
                        transform: rotate(45deg) !important;
                    }
                    &:nth-child(2) {
                        width: 0 !important;
                        opacity: 0 !important;
                    }
                    &:nth-child(3) {
                        top: 39px;
                        left: 3px;
                        -webkit-transform: rotate(-45deg) !important;
                        -moz-transform: rotate(-45deg) !important;
                        -o-transform: rotate(-45deg) !important;
                        transform: rotate(-45deg) !important;
                    }
                }
            }
        }
        .top-bar-section{
            ul{
                li{
                     background: none;
                    padding: 5px 0px;
                    a{
                        font-size: 14px;
                        color: white;
                        background: none !important;
                        @media screen and (max-width: 1068px){
                            font-size: 12px;
                        }
                    }
                    a:hover{
                        background: none;
                    }
                    li:active{
                        
                    }
                }
            }

            ul.scrollColor{
                a{
                   color: rgb(0, 0, 0);
                }
                a:hover{
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
    #primary-nav {
        background: #EF592A;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
        opacity: .89;
        @media screen and (max-width: 500px) {
            overflow: scroll;
        }

        

        .menu-container{
            @include vertical-align;
            padding: 10px 0px;
                @media screen and (max-width: 500px) {
                    margin-top: 0;
                }

            ul {
                text-align: center;
                -webkit-flex-direction:column;
                align-items: flex-start;
                display: -webkit-flex; /* Safari */
                flex-direction:column;
                height: 83vh;
                margin: 0px auto;
                min-height: 320px;
                max-height: 380px;
                position: relative;
                -webkit-justify-content: space-around; /* Safari 6.1+ */
                display: flex;
                justify-content: space-around;

                @media screen and (max-width: 500px) {
                    min-height: 320px;
                    max-height: 440px;
                }

                img {
                    height: 30px;
                     @media screen and (max-width: 700px) {
                        height: 25px;
                    }
                    -webkit-transition: -webkit-transform .8s ease-in-out;
                    -ms-transition: -ms-transform .8s ease-in-out;
                    -moz-transition: -ms-transform .8s ease-in-out;
                    -o-transition: -ms-transform .8s ease-in-out;
                    transition: transform .8s ease-in-out;

                    &:hover{
                         transform:rotate(360deg);
                        -ms-transform:rotate(360deg);
                        -moz-transform:rotate(360deg);
                        -o-transform:rotate(360deg);
                        -webkit-transform:rotate(360deg);
                    }
                }

                li{
                    width: 100%;
                    text-align: left;
                    padding-left: 30px;
                    list-style: none;
                    font-size: $font_largest;
                    @media screen and (max-width: 700px) {
                        font-size: $font_large;
                    }

                    span {
                        display: inline-block;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: $font_larger;
                    }

                    &:hover a.active {
                        background-color: $dark_highlight !important;
                        color: $lightest;

                    }
                    a {
                        font-weight: bolder;
                        font-family: $font_light;
                        font-weight: 200;
                        display: block;
                        color: $lightest;
                    }

                    .social_icons {
                        a {
                            display: inline-block;
                            &:hover {
                                background-color: none;
                            }
                        }

                        width: 100%;
                        img {
                             @media screen and (max-width: 700px) {
                                height: 20px;
                            }
                            width: auto;
                            height: 25px;
                            transform:rotate(0deg);
                            -ms-transform:rotate(0deg);
                            -moz-transform:rotate(0deg);
                            -o-transform:rotate(0deg);
                            -webkit-transform:rotate(0deg);
                        }
                    }
                }

                .solutions {
                    i {
                        position: absolute;
                        right: 22px;
                        top: 80px;
                        color: white;
                        -webkit-transition:300ms ease;
                        -moz-transition:300ms ease;
                        -o-transition:300ms ease;
                        transition:300ms ease;
                        @media screen and (min-width: 500px) {
                            top: 68px;
                        }
                        @media screen and (min-width: 700px) {
                            top: 68px;
                        }
                    }
                    .sol-sub-menu {
                        display: inline;
                        li {
                            height: 0;
                            overflow: hidden;
                            -webkit-transition:height 200ms ease-in;
                            -moz-transition:height 200ms ease-in;
                            -o-transition:height 200ms ease-in;
                            transition:height 200ms ease-in;
                        }
                    }
                }
            }

            .social_icons {
                display: inline-block;
                width: 100%;
                img {
                    height: 25px;
                    opacity: .6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

             .border_bottom {
                width: 30%;
                height: 1px;
                margin: 5px auto;
                background-color: $lightest;
            }

             p {
                font-family: $font_light;
                font-weight: 200;
                color: $lightest;
                font-size: 1rem;
            }
        }

        img {
            height: 30px;
        }
    }
}

.blk-logo {
    .apple-header nav .top-bar-section ul li a {
        color: black;
    }
}