// style guide colors
$lightest: #fff;
$light: #F6F6F6;
$light_transparency: rgba(249, 250, 250, 0.6);
$medium: #B4B4B4;
$medium_transparency: rgba(180, 180, 180, 0.5);
$dark: #4A4A4A;
$darkest: #000000;
$highlight: #DB4006; //orange
$highlight_transparency: rgba(219, 64, 6, 0.5);
$high_transparency: rgba(219, 64, 6, 0.9);
$high_Overriding: rgba(219, 64, 6, 0.7);
$dark_highlight: RGBA(196, 57, 27, 1);
$lowlight: #E36767;