// Fonts
$Cuprum: "Cuprum";

$font_bold: 'latoheavy';
$font_regular: 'latoregular';
$font_light: 'latolight';
$font_hairline: 'latohairline';

// Font Sizes
$font_base: 1.1rem;
$font_big: 3.25em;
$font_largest: 2.25em;
$font_larger: 1.5em;
$font_large: 1.25em;
$font_small: 0.875em;
$font_smaller: 0.75em;
$font_smallest: 0.5em;

// Line height
$line_height_double: 2.4em;
$line_height_normal: 1.25em;

// Widths
$fullwidth: 100%;

// uppercase
$upper: uppercase;