<div class="row clients-list">
	<div class="padding-Yvw-3">
		<div class="row">			
			<div class="large-10 medium-10 medium-centered large-centered columns">
			<div class="row">
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="/work-examples/1800-flowers">
					  	1-800-Flowers.com
					  </a>	
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="/work-examples/1800-baskets">
					 	1-800-Baskets.com
					 </a>
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://500bc.com/" target="_blanck">
					  	500 BC
					  </a>
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="http://bloomreach.com/" target="_blanck">
					 	Bloomreach	
					 </a>
				 </div>
			</div>
			<div class="row">	
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.cafelearn.com/" target="_blanck">
					  	Café Learn
					  </a>
				</div>			
				<div class="large-3 medium-4 small-6 columns client">
						<a href="https://www.cetera.com/" target="_blanck">
							Cetera
						</a>
				  </div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="/work-examples/cheryls">
					 	Cheryl's
					 </a>
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="/work-examples/fannie-may">
					 	Fannie May
					 </a>
				 </div>
			</div>
			<div class="row">
			  <div class="large-3 medium-3 small-6 columns client">
					<a href="/work-examples/fruit-bouquets">
						Fruit Bouquets
					</a>
				 </div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="http://www.funexpress.com/" target="_blanck">
					 	Fun Express
					 </a>
				 </div>
				 <div class="large-3 medium-4 small-6 columns client">
						<a href="http://www.gymboree.com/" target="_blanck">
							Gymboree
						</a>
				  </div>
				 <div class="large-3 medium-4 small-6 columns client">
					   <a href="https://www.kapitall.com/" target="_blanck">
					   	Kapitall
					   </a>
				   </div>

			</div>
			<div class="row">
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.mindware.com/" target="_blanck">
					  	Mindware
					  </a> 
				  </div>
				 <div class="large-3 medium-4 small-6 columns client">
					  <a href="https://www.myvest.com/" target="_blanck">
					  	MyVest	
					  </a>
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.nite.org/" target="_blanck" id="NITE">
					  	National Institute of Training and Education
					  </a>
				  </div>
				  <div class="large-3 medium-3 small-6 columns client">
					   <a href="http://www.orientaltrading.com/" target="_blanck" id="OTC">
					   	 Oriental Trading Company
					   </a>
				  </div>
				
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.pricelock.com/" target="_blanck" id="priceLock">
					  	Pricelock
					  </a>
				</div>
				<div class="large-3 medium-4 small-6 columns client">
					  <a href="https://www.saveday.com/" target="_blanck">
					  	SaveDay	
					  </a>
				</div>
				<div class="large-3 medium-3 small-6 columns client">
					 <a href="http://www.smilemakers.com/" target="_blanck" id="smileMakers">
					 	SmileMakers
					 </a> 
				 </div>
				 <div class="large-3 medium-4 small-6 columns client">
						<a href="https://twitter.com/sparadoco" target="_blanck">
							Sparado
						</a>
				  </div>
				
				  
			</div>
			<div class="row">
				  <div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.tatesbakeshop.com/" target="_blnack">
					  	Tate’s Bake Shop
					  </a>
				  </div>
				<div class="large-3 medium-3 small-6 columns client">
					  <a href="http://www.thepopcornfactory.com/" target="_blanck">
					  	The Popcorn Factory
					  </a>
				</div>
				<div class="large-3 medium-4 small-6 columns client">
					  <a href="http://www.usuniversity.edu/" target="_blanck">
					  	United States University	
					  </a>
				</div>
				  <div class="large-3 medium-4 small-6 columns client">
					   <a href="https://usmilitarypipeline.com/" target="_blanck">
					   	US Military Pipeline
					   </a>
				   </div>
			</div>

			<div class="row">
				<div class="large-3 medium-4 small-6 columns client">
					<a href="https://www.zteusa.com/" target="_blanck">
						ZTE
					</a>
				</div>
			</div>
		</div>
		
		</div>

	</div>
</div>