<!doctype html>
<html class="no-js" lang="en">
<head>
	<base href="<?php echo $base_url; ?>" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="//cdn.foundation5.zurb.com/foundation.css">
	<link rel="shortcut icon" type="image/png" href="//d283pee6upvkfl.cloudfront.net/img/36x36.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="laOQMoN0boND5kwVxssaP91D8b0m-Ik_sHkWa65ZKeQ" />
	<meta name="format-detection" content="telephone=no">
	<title>{% if page.title != "Home" %} {{page.title}} - {% endif %}Söoryen Technologies</title>
	<link rel="stylesheet" href="{{site.githhub.url}}/css/style.css" />
</head>
<body class="{{page.slug}}">
	<div class="main-container">

	<header class="fintech-header">
		<nav class="top-bar clearfix">
			<div class="row">
				<div class="large-10 medium-centered columns padding-3-y clearfix">
					<div class="large-4 small-10 columns">
						<a href="index" id="Home">
							<img class="show-logo" src="//d283pee6upvkfl.cloudfront.net/img/logowhite.png" alt="logo" id="h1logo">
							<img class="hide-logo" src="//d283pee6upvkfl.cloudfront.net/img/logoblack.png" alt="logo" id="h1logo">
							<img class="white-logo" src="//d283pee6upvkfl.cloudfront.net/sooryen-allwhite.png" alt="logo">
						</a>
					</div>

	  				<div class="large-8 hide-for-medium-only hide-for-small-only columns">
	  					<section class="top-bar-section">
						    <!-- Right Nav Section -->
						    <ul class="right">
								<li class="services"><a href="{{site.githhub.url}}/fintech#services" class="fintech-services">Services</a></li>
								<li class="approach"><a href="{{site.githhub.url}}/fintech#approach" class="fintech-approach">Approach</a></li>
								<li class="fintech-case-study"><a href="{{site.githhub.url}}/fintech#clients" class="fintech-CS">Clients</a></li>
								<li class="fintech-case-study"><a href="{{site.githhub.url}}/fintech-case-study" class="fintech-CS">Case Studies</a></li>
								<li class="about"><a href="{{site.githhub.url}}/fintech#aboutUs" class="fintech-aboutUs">About</a></li>
								<li class="contact"><a href="{{site.githhub.url}}/fintech#contact">Contact Us</a></li>
						    </ul>
			  			</section>
				  	</div>
				  	<div class="small-2 hide-for-large-up columns menu-click">
	  					<div id="nav-icon">
						  <span></span> <span></span> <span></span> 
						</div>
	  					<p class="menu-text">Menu</p>
	  				</div>
	  			</div>
	  		</div>
	  	</nav>

		<div id="primary-nav" class="row hidden">

  			<div class="menu-container paddingB-10">
			   	<ul>
				  	<li>
				  		<a href="index" class="block active">
				  			<img src="//d283pee6upvkfl.cloudfront.net/img/sooryen_logo_white.png">
				  		</a>
				  	</li>
			  	
					<li><a class="active fintech-services" href="{{site.githhub.url}}/fintech.php#services">Services</a></li>
					<li><a class="active fintech-approach" href="{{site.githhub.url}}/fintech.php#approach">Approach</a></li>
					<li><a class="active fintech-CS" id="fintechCaseStudies" href="/fintech.php#clients">Clients</a></li>
					<li class="fintech-case-study"><a href="{{site.githhub.url}}/fintech-case-study" class="fintech-CS">Case Studies</a></li>
					<li><a class="active fintech-aboutUs" href="{{site.githhub.url}}/fintech.php#aboutUs">About</a></li>
					<li><a class="active" href="{{site.githhub.url}}/fintech.php#contact">Contact Us</a></li>
					<li>
						<div class="border_bottom"></div>
					</li>			
				
					<li>
						<p>
							<a href="tel:14157667936">
								+1 415-SOORYEN - 766-7936
							</a>
						</p>					
					</li>

					<li>
						<p> 
							<a href="mailto:info@sooryen.com">info@sooryen.com</a>
						</p>
					</li>
					

					<li>	
						<div class="social_icons row">
							<a href="https://www.linkedin.com/company/2671069?trk=tyah" target="_blank"><img src="//d283pee6upvkfl.cloudfront.net/img/linkedin_white.png" alt="LinkedIn" class="padding-20-x">&nbsp;</a>
							<a href="https://twitter.com/SooryenTech" target="_blank"><img src="//d283pee6upvkfl.cloudfront.net/img/twitter_white.png" alt="Twitter" class="padding-20-x">&nbsp;</a>
							<a href="https://www.facebook.com/SooryenTechnologies" target="_blank"><img src="//d283pee6upvkfl.cloudfront.net/img/facebook_white.png" alt="Facebook" class="padding-20-x">&nbsp;</a>
							<a href="https://plus.google.com/+Sooryen/about" target="_blank"><img src="//d283pee6upvkfl.cloudfront.net/img/googleplus_white.png" alt="Google+--" class="padding-20-x">&nbsp;</a>
						</div>
					</li>
				</ul>
  			</div>	
		</div>
	</header>
<main>