<!doctype html>
<html class="no-js" lang="en">
<head>
	<base href="{{site.github.url}}" />
	<meta charset="utf-8" />
	<link rel="shortcut icon" type="image/png" href="//d283pee6upvkfl.cloudfront.net/img/36x36.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="laOQMoN0boND5kwVxssaP91D8b0m-Ik_sHkWa65ZKeQ" />
	<meta name="format-detection" content="telephone=no">
	<title>{% if page.title != "Home" %} {{page.title}} - {% endif %}Söoryen Technologies</title>
	<link rel="stylesheet" href="{{site.github.url}}/css/style.css" />
	{% seo title=false %}
</head>
<body class="{{page.slug}}">
	<div class="main-container">
		
				<header class="apple-header">
					<nav class="top-bar clearfix">
						<div class="row">
							<div class="large-12 medium-centered columns padding-3-y clearfix">
								<div class="large-4 small-10 columns">
									<a href="/" id="Home">
											<img class="show-logo" src="http://d283pee6upvkfl.cloudfront.net/img/logowhite.png" alt="logo" id="h1logo">
											<img class="hide-logo" src="http://d283pee6upvkfl.cloudfront.net/img/logoblack.png" alt="logo" id="h1logo">
											<img class="white-logo" src="http://d283pee6upvkfl.cloudfront.net/img/sooryen-allwhite.png" alt="logo">
										</a>
								</div>
		
								<div class="large-8 hide-for-medium-only hide-for-small-only columns">
									<section class="top-bar-section">
										<!-- Right Nav Section -->
										<ul class="right">
											<li class="services"><a href="/services">Services</a></li>
											<li class="sol-dropdown">
												<a href="#">Solutions</a>
												<ul class="sol-sub-menu">
													<li><a href="machine-learning">Machine Learning</a></li>
													<li><a href="blockchain">Blockchain</a></li>
													<li><a href="conversion-opt">Conversion Optimization</a></li>
													<li><a href="fintech">FinTech</a></li>
													<li><a href="apple-pay">Digital Wallet</a></li>
												</ul>
											</li>
											<li class="work"><a href="/work">Our Work</a></li>
											<li class="about"><a href="/about-us">About Us</a></li>
											<li class="press"><a href="http://blog.sooryen.com/">Press</a></li>
											<li class="careers"><a href="/careers">Careers</a></li>
											<li class="contact"><a href="/contact">Contact Us</a></li>
										</ul>
									</section>
								</div>
								<div class="small-2 hide-for-large-up columns menu-click">
									<div id="nav-icon">
										<span></span> <span></span> <span></span>
									</div>
									<p class="menu-text">Menu</p>
								</div>
							</div>
						</div>
					</nav>
		
					<div id="primary-nav" class="row hidden">
		
						<div class="menu-container paddingB-10">
							<ul>
		
								<li class="services"><a href="/services">Services</a></li>
								<li class="solutions">
									<a class="sol-link">Solutions</a>
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
									<ul class="sol-sub-menu">
										<li><a href="machine-learning">Machine Learning</a></li>
										<li><a href="blockchain">Blockchain</a></li>
										<li><a href="conversion-opt">Conversion Optimization</a></li>
										<li><a href="fintech">FinTech</a></li>
										<li><a href="apple-pay">Digital Wallet</a></li>
									</ul>
								</li>
								<li class="work"><a href="/work">Work</a></li>
								<li class="about"><a href="/about-us">About Us</a></li>
								<li class="press"><a href="http://blog.sooryen.com/">Press</a></li>
								<li class="careers"><a href="/careers">Careers</a></li>
								<li class="contact"><a href="/contact">Contact Us</a></li>
		
							</ul>
						</div>
					</div>
				</header>
				<main>