</main>
<footer>
	</div><!-- .site-content -->
		<div style="overflow: hidden;">
			<div class="border-D-bottom-inverse"></div>
			<footer id="colophon" class="site-footer clearfix" role="contentinfo">
				<div>
		
			<div class="large-10 large-centered columns addresses clearfix no-padding">
				<h2>Offices</h2><br>
				<div class="large-8 medium-18 small-36 columns">
					<div class="large-4 medium-6 small-12 columns office">
						<h3 class="large-12 medium-12 small-12 columns">Metro New York</h3>
						<a class="large-12 medium-12 small-12 columns" href="https://www.google.com/maps/d/u/0/embed?mid=zTmFRZDQsSoM.k1hO5OHZDt2k" target="_blank">
							<p class="fist-p fist-frst">700 Kinderkamack Rd,<br>Suite 210,<br>Oradell, NJ, 07649<br>USA</p>
						</a>
					</div>
					<div class="large-4 medium-6 small-12 columns office">
						<h3 class="large-12 medium-12 small-12">Silicon Valley</h3>
						<a class="large-12 medium-12 small-12 columns" href="https://www.google.com/maps/d/u/0/embed?mid=1X9a7ZO_TGMMqO23E8kDRGF5BwXA" target="_blank">
							<p class="fist-p fist-frst">
								39899 Balentine <br> Drive Suite #200 <br>
							Newark, CA, 94560 <br> USA</p>
						</a>
					</div>
					<div class="large-4 medium-6 small-12 columns office">
						<h3 class="large-12 medium-12 small-12 columns">Dubai U.A.E.</h3>
						<a class="large-12 medium-12 small-12 columns" href="https://www.google.com/maps/d/embed?mid=zTmFRZDQsSoM.kc36P32TAzrk" target="_blank">
							<p class="fist-p fist-frst">119, Building No. 10 <br> Dubai Internet City <br> P.O. Box 502270 <br> Dubai, U.A.E.</p>
						</a>
					</div>
				</div>
				<div class="large-4 medium-12 small-12 columns office">
					<h3 class="large-12 medium-12 small-12 columns">Söoryen Innovation Labs India</h3>
					<a class="large-6 medium-6 small-12 columns" href="https://www.google.com/maps/d/u/0/embed?mid=1c2oKb3190iuxR-CaZ8c5BkNDNZU" target="_blank">
						<h4>Ahmedabad</h4>
						<p class="fist-p">A7, 8th floor,<br>
						 Safal Profitaire, <br>Corporate Road, <br>
						Ahmedabad, <br> GJ, 380015</p>
					</a>
					<a class="large-6 medium-6 small-12 columns" href="https://www.google.com/maps/d/u/0/embed?mid=1PAHRFU4uk5cMy85tg7LIb5SczQM" target="_blank">
						<h4>Hyderabad</h4>
						<p class="fist-p">
						 405, Babukhan Millennium Center, <br> Somajiguda, <br> Hyderabad <br> AP 500082</p>
					</a>
					<p class="large-12 medium-12 small-12 columns"><br>Sales Contact Number (+1) 201-322-0836</p>
				</div>
				<div class="large-12 medium-12 small-12 columns bottom-u clearfix medium-pull-12">
					<div class="large-6 medium-6 small-12 columns no-padding">
						<div class="fix-width">
							<a href="mailto:info@sooryen.com">info@sooryen.com</a>						
							<p>
								<span>1-415-SÖORYEN (766-7936) / 201-391-5306</span>
							</p>					
							<p>
							    &copy; 2016 Söoryen Technologies. All rights reserved.
							</p>
						</div>	
					</div>
					<div class="large-6 medium-6 small-12 columns no-padding">
						
						<ul class="social-image">
							<li>
								<a href="https://www.linkedin.com/company/2671069?trk=tyah" target="_blanck"><img src="//d283pee6upvkfl.cloudfront.net/img/linkd.png" alt="LinkdIn"></a>
							</li>
							<li>
								<a href="https://www.facebook.com/SooryenTechnologies" target="_blanck"><img src="//d283pee6upvkfl.cloudfront.net/img/facebook.png" alt="Facebook"></a>
							</li>
							<li>
								<a href="https://twitter.com/SooryenTech" target="_blanck"><img src="//d283pee6upvkfl.cloudfront.net/img/twitter.png" alt="Twitter"></a>
							</li>
							<li>
								<a href="https://plus.google.com/+Sooryen/about" target="_blanck"><img src="//d283pee6upvkfl.cloudfront.net/img/googleplus.png" alt="Google Plus"></a>
							</li>
							<li>
								<a href="https://www.pinterest.com/sooryentech/sooryen" target="_blanck"><img src="//d283pee6upvkfl.cloudfront.net/img/pinterest.png" alt="Pinterest"></a>

							</li>

							
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>

<!-- Angular CDN Beginning -->
<script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<!-- Angular CDN End -->

<!-- Jquery Beginning -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- Jquery End -->

<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!-- Vendor JS Beginning -->
<script src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.min.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.1/release/featherlight.min.js"></script>
<!-- Waypoints JS File -->
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
<!-- Pie Animation File -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.0/d3.min.js"></script>
<script src="{{site.githhub.url}}/js/radialProgress.js"></script>
<!-- Vendor JS End -->

<!-- Custom Js Files Beginning-->
<!-- <script src="{{site.githhub.url}}/js/contact-form.js"></script>
<script src="{{site.githhub.url}}/js/data.js"></script>
<script src="{{site.githhub.url}}/js/functions.js"></script> -->
<script src="{{site.githhub.url}}/dist/js/main.app.min.js"></script>
<!-- Custom Js Files End-->

	</div>
		</footer><!-- .site-footer -->
	</div><!-- .site-inner -->
</div><!-- .site -->
</body>
</html>