<!doctype html>
<html class="no-js" lang="en">

<head>
    <base href="{{site.github.url}}" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="//d283pee6upvkfl.cloudfront.net/img/36x36.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="laOQMoN0boND5kwVxssaP91D8b0m-Ik_sHkWa65ZKeQ" />
    <meta name="format-detection" content="telephone=no">
    <title>Söoryen Technologies</title>
    <link rel="stylesheet" href="{{site.github.url}}/dist/css/style.min.css" />
    {% seo title=false %}
</head>

<body class="<?php echo $page_class; ?>">
    <div class="main-container">
        <header class="apple-header">
            <nav class="top-bar clearfix">
                <div class="row">
                    <div class="large-10 medium-centered columns padding-3-y clearfix">
                        <div class="large-4 small-10 columns">
                            <a href="/" id="Home">
                                <img class="show-logo" src="../../assets/img/kyc-logo-white.png" alt="logo" id="h1logo">
                                <img class="hide-logo" src="../../assets/img/kyc-logo-black.png" alt="logo" id="h1logo">
                                <img class="white-logo" src="../../assets/img/kyc-logo-white.png" alt="logo">
                            </a>
                        </div>
                        <div class="large-8 hide-for-medium-only hide-for-small-only columns">
                            <section class="top-bar-section">
                                <!-- Right Nav Section -->
                                <ul class="right">
                                    <li class="about"><a href="#about">ABOUT</a></li>
                                    <li class="contact"><a href="#contact">CONTACT</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="small-2 hide-for-large-up columns menu-click">
                            <div id="nav-icon">
                                <span></span> <span></span> <span></span>
                            </div>
                            <p class="menu-text">Menu</p>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="primary-nav" class="row hidden">
                <div class="menu-container paddingB-10">
                    <ul>
                        <li>
                            <a href="index" class="block active">
                                <img src="//d283pee6upvkfl.cloudfront.net/img/sooryen_logo_white.png">
                            </a>
                        </li>
                        <li class="about"><a href="#about">ABOUT</a></li>
                        <li class="contact"><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
