<div class="row clients-list">
	<div class="padding-Yvw-3">
		<div class="row">			
			<div class="large-10 medium-10 medium-centered large-centered columns">
				<div class="row">
					<div class="large-3 medium-3 small-6 columns client">
						<a href="https://www.saveday.com/">SaveDay</a>	
					</div>
					<div class="large-3 medium-3 small-6 columns client">
						<a href="https://www.cetera.com/">Cetera</a>	
					</div>
					<div class="large-3 medium-3 small-6 columns client">
						<a href="https://landing.kapitall.com/home/">Kapitall</a>	
					</div>
					<div class="large-3 medium-3 small-6 columns client">
						<a href="https://www.myvest.com/">MyVest</a>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>