<div class="row related-case-studies">
	<div class="border-D-top"></div>
	<div class="large-12 large-centered columns clearfix">
		
		<div class="row large-12 large-centered medium-centered small-centered columns text-center padding-40">
			<h2>Related Case Studies</h2>
		</div>

		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="large-3 medium-6 columns">	
						<a href="/case-study/1-800-flowers" id="CS1-800-flowers">
						  <div class="related-case related-case_flowers">
						  		<h4 class="related-title">1-800 Flowers</h4>
								<p class="related-desc">Reinventing the database</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/oriental-trading" id="CSoriental-trading">
						  <div class="related-case related-case_otc">
						  		<h4 class="related-title">Oriental Trading</h4>
								<p class="related-desc">Better ways to connect with their clients</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/popcorn-factory" id="CSpopcorn-factory">
						  <div class="related-case related-case_popcorn">
						  		<h4 class="related-title">The Popcorn Factory</h4>
								<p class="related-desc">Making popcorn mobile</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/mindware" id="CSmindware">
						  <div class="related-case related-case_minware">
						  		<h4 class="related-title">Mindware</h4>
								<p class="related-desc">Transforming the e-commerce experience</p>
						  </div>
						</a>
					</div>
				</li>
				<li>
					<div class="large-3 medium-6 columns">	
						<a href="/case-study/zte" id="CSzte">
						  <div class="related-case related-case_zte">
						  		<h4 class="related-title">ZTE</h4>
								<p class="related-desc">Reflecting their technologies</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/500BC" id="CS500BC">
						  <div class="related-case related-case_500BC">
						  		<h4 class="related-title">500 BC</h4>
								<p class="related-desc">Bringing knowledge to your Pocket</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/tates" id="CStates">
						  <div class="related-case related-case_tates">
						  		<h4 class="related-title">Tate's Bake Shop</h4>
								<p class="related-desc">Delivering the baked goods!</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/otc-boomi" id="CSotcdellboomi">
						  <div class="related-case related-case_otc-boomi">
						  		<h4 class="related-title">Oriental Trading - Dell Boomi</h4>
								<p class="related-desc">Creating Seamless Oms B/W Two Major Giants</p>
						  </div>
						</a>
					</div>
				</li>
				<li>
					<div class="large-3 medium-6 columns">	
						<a href="/case-study/kahnlucas" id="CSkhanlucas">
						  <div class="related-case related-case_khanlucas">
						  		<h4 class="related-title">Khan Lucas</h4>
								<p class="related-desc">A Chic New Look!</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/bloomreach" id="CSbloomreach">
						  <div class="related-case related-case_bloomreach">
						  		<h4 class="related-title">Bloomreach</h4>
								<p class="related-desc">Improved Functionality a Snap of the Fingers</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/1-800Analytics" id="CS1-800Analytics">
						  <div class="related-case related-case_1-800Analytics">
						  		<h4 class="related-title">1-800 Analytics</h4>
								<p class="related-desc">Shifting Analytical Gears W/ Amazon Redshift</p>
						  </div>
						</a>
					</div>

					<div class="large-3 medium-6 columns">
						<a href="/case-study/smilemakers" id="CSsmilemakers">
						  <div class="related-case related-case_smilemakers">
						  		<h4 class="related-title">Smile Makers</h4>
								<p class="related-desc">Migrating is Not Just for the Birds!</p>
						  </div>
						</a>
					</div>
				</li>
			</ul>
			
		</div>

		

		<div class="text-center clearfix full-list">
			<h4>
				<a href="/work">
					SEE THE FULL LIST
				</a>
			</h4>
		</div>

	</div>
</div>