._works {
	-webkit-font-smoothing: antialiased;

	.right li a {
	    color: #000!important;
	}
	
	.sm-content-head {

		h1 {
			color: $highlight;
			font-family: $font_light;
			font-size: font_largest;
			padding: 28vmin 0px 12vmin 0px;
			text-transform: uppercase;

			@media screen and (max-width: 700px) {
	           padding: 40vmin 0px 12vmin 0px;
	        }

		}
	}

	.works-row {
		  z-index: -9999 !important;
		.case-study {
			h2 {
				color: $lightest;
				font-weight: 700;
				text-transform: uppercase;

			}

			&.flowers {
				background-image: url("/assets/img/jpgs/Works/workspagecasestudy1800_hover.jpg");
				background-size: cover;
				z-index: -0;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;

				@include transition;
					&:hover{
						@include transition;
						opacity: 1;
					}

			  .flowers-logo {
			  	background: url("/assets/img/1800flowers white-01.png") no-repeat center;
			  	background-size: cover;
			  	width: 33vmin;
			  	height: 18vmin;
			  }
			}

			&.otc {
				background-image: url("/assets/img/jpgs/Works/workspagecasestudyotc_hover.jpg");
				background-size: cover;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;
				@include transition;
					&:hover{
						@include transition;
						opacity: 1;
					}

				.oriental-logo {
				  	background: url("/assets/img/oriental trading white.png") no-repeat center;
				  	background-size: cover;
				  	width: 33vmin;
				  	height: 18vmin;
				 }
			}

			&.mindware {
				background-image: url("/assets/img/jpgs/Works/mindwareworks_hover.jpg");
				background-size: cover;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;
				@include transition;
					&:hover  {
					  opacity: 1;
				  }

				.mindware-logo {
			  	background: url("/assets/img/mindware-white.png") no-repeat center;
			  	background-size: cover;
			  	width: 33vmin;
			  	height: 18vmin;
			  }
			}

			&.popcorn {
				background-image: url("/assets/img/jpgs/Works/popcornfactoryworks_hover.jpg");
				background-size: cover;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;
				@include transition;
					&:hover {
					  opacity: 1;
				  }

				.popcorn-logo {
			  	background: url("/assets/img/popcornfactorywhite.png") no-repeat center;
			  	background-size: cover;
			  	width: 33vmin;
			  	height: 18vmin;
			  }
			}

			&.otc-boomi {
				background-image: url("/assets/img/jpgs/Works/otc_dellboomi_1.jpg");
				background-size: cover;
				padding: 9vw 0 9vw 0;
				opacity: 0.9;
			    margin-top: -1px;
				@include transition;
					&:hover {
					  opacity: 1;
				  }


				.otc-boomi-logo {
			  	background: url("/assets/img/otcdellboomilogo.png") no-repeat center;
			  	background-size: cover;
			  	width: 40vmin;
    			height: 19vmin;
			    margin-top: -25px;
			    margin-bottom: 3vh;
			  }
			}

			&.a500bc {
				background-image: url("/assets/img/jpgs/Works/500bc_1.jpg");
				background-size: cover;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;
			    margin-top: -1px;
				@include transition;
					&:hover {
					  opacity: 1;
				  }

				.a500bc-logo {
			  	background: url("/assets/img/500bc-white1.png") no-repeat center;
			  	background-size: cover;
		  	    width: 19vmin;
			    height: 19vmin;
			  }
			}

			&.zte {
				background-image: url("/assets/img/jpgs/Works/zte.jpg");
				background-size: cover;
				padding: 16vw 0 8vw 0;
				opacity: 0.9;
				@include transition;
					&:hover {
					  opacity: 1;
					}

				.zte-logo {
			  	background: url("/assets/img/zte.png") no-repeat center;
			  	background-size: cover;
			  	width: 22vmin;
			  	height: 8vmin;
			  }
		}

		&.bloomreach {
			background-image: url("/assets/img/jpgs/Works/bloomreach_1.jpg");
			background-size: cover;
      padding: 10vw 0 8vw 0;
			opacity: 0.9;
			margin-top: -2px;
			@include transition;
				&:hover {
					opacity: 1;
				}

			.bloomreach-logo {
				background: url("/assets/img/jpgs/Works/bloomreach_logo-wht.png") no-repeat center bottom;
				background-size: cover;
				width: 64vmin;
				height: 12vmin;
				margin: auto;
			}
			.flowers-logo {
 			  	background: url("/assets/img/1800flowers white-01.png") no-repeat center;
 			  	background-size: cover;
 			  	width: 33vmin;
 			  	height: 18vmin;
 			  	margin: auto;
 			  	margin-top: -7%;
 			  }
	}

		&.tates {
			background-image: url("/assets/img/jpgs/Works/tates_01.jpg");
			background-size: cover;
			padding: 8vw 0 8vw 0;
			opacity: 0.9;
			@include transition;
				&:hover {
					opacity: 1;
				}

			.tates-logo {
				background: url("/assets/img/logo_tates.png") no-repeat center;
				background-size: cover;
				width: 36vmin;
    		height: 19vmin;
			}
	}

	&.smileMakers {
		background-image: url("/assets/img/jpgs/Works/SM_1.jpg");
		background-size: cover;
    padding: 9.5vw 0 10vw 0;
		opacity: 0.9;
		@include transition;
			&:hover {
				opacity: 1;
			}

		.smileMakers-logo {
	    background: url("/assets/img/2016-02-16.png") no-repeat center;
	    background-size: cover;
	    width: 62vmin;
	    height: 13vmin;
	    margin-bottom: 2vw;
	}
}

&.a1-800Analytics {
	background-image: url("/assets/img/jpgs/Works/analytics_01.jpg");
	background-size: cover;
  padding: 6vw 0 8vw 0;
	opacity: 0.9;
	@include transition;
		&:hover {
			opacity: 1;
		}

	.a1-800Analytics-logo {
		background: url("/assets/img/flowerslogo.png") no-repeat center;
		background-size: cover;
		width: 42vmin;
		height: 19vmin;
		margin-bottom: 2vw;
	}
}

	&.khanlucas {
		background-image: url("/assets/img/jpgs/Works/KL_1.jpg");
		background-size: cover;
		padding: 8vw 0 8vw 0;
		opacity: 0.9;
		@include transition;
			&:hover {
				opacity: 1;
			}

		.khanlucas-logo {
			background: url("/assets/img/KL_logo.png") no-repeat center;
			background-size: cover;
			width: 49vmin;
			height: 19vmin;
			margin-bottom: 3vh;
		}
}

			&.save-day {
				background-image: url("/assets/img/jpgs/newCaseStudies/SD_1.jpg");
				background-size: cover;
				z-index: -0;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;

				@include transition;
					&:hover{
						@include transition;
						opacity: 1;
					}

			  .saveDay-logo {
			  	background: url("/assets/img/jpgs/newCaseStudies/saveday-wht-logo.png") no-repeat center;
			  	background-size: contain;
			  	width: 34vmin;
			  	height: 18vmin;
			  }
			}

			&.cetera {
				background-image: url("/assets/img/jpgs/CaseStudy14/DOL-1.jpg");
				background-size: cover;
				padding: 8vw 0 8vw 0;
				opacity: 0.9;
				@include transition;
					&:hover{
						@include transition;
						opacity: 1;
					}

				.cetera-logo {
			  		background: url("/assets/img/jpgs/newCaseStudies/cetera-logo-wht.png") no-repeat center;
				  	background-size: contain;
			  	    width: 28vmin;
				    height: 18vmin;
				 }
				}
	}
	}


	.clients-list {
		h2 {
			text-transform: uppercase;
			color: $highlight;
			font-family: $font_light;

		}
		.client {
			padding: 2% 1.4%;
			color: $darkest;
			font-size: $font_base;
			@media screen and (max-width: 600px) {
			    padding: 5% 4%;
			}
			&.partners {
				span {
				display: block;
				font-size: $font_smallest;
				font-family: $font_regular;
				color: $medium;
				}
			}

			a{
				color: $darkest;
				display: block;
				&:hover {
					color: $highlight;
				}
			}
		}
	}

	.mobile-screen{
		margin-bottom: 5%;
		.flex-viewport{
			cursor: auto;
		}

		.slides li {
			cursor: pointer;
			position: relative;
			overflow: hidden;

			img {
				border: 1px solid $highlight;
				width: 95%;
				height: 13%;
				margin: 0 auto;

			}

			&:hover {
				.full-bg-orange {
					display: block;
				}
			}

		}

		.full-bg-orange {
			display: none;
			position: absolute;
			width: 94.7%;
			left: 9.6px;
			padding-bottom: 55%;
			background-color: $highlight_transparency;
			transition: 1s !important;

			img {
				border: none !important;
				width: 10% !important;
				height: auto !important;
				margin-top: 24.2% !important;

			}
		}

		.flex-control-nav{
			bottom: -8vmin !important;
		}

		.flex-control-paging li a {
			  border: 1px solid red;
		}

		.flex-control-paging li a.flex-active {
			background-color: $highlight;
		}

		cursor: pointer;
		text-align: center;

		.large-3{

			background-color: RGBA(39, 40, 34, 0.6);

			&:hover{
				background-color: RGBA(39, 40, 34, 1);
			}

			&:active {
				width: 80vw;
				height: 80vw;
				position: absolute;
				top: 0px;
			}

		}
	}

	.works-examples{
		position: relative;
		margin-bottom: 5%;

	.flex-control-thumbs {
			margin: 10px auto;
			img{
				border: 1px solid $highlight;
			}
		}

		img{
			max-width: 200px;
		}

		h3{
			padding: 2% 0 3vmin 0;
			text-align: center;
			color: $highlight;
			font-size: $font_larger;
		}

		p{
			padding: 4vmin 0 10% 0;
		}

		.slides {
			text-align: center;

			img {
				max-width: 260px;
			}
		}

		img {
			margin: 0px auto;
		}

		.close{
			right: 0;
			top: 0px;
			padding: 2px;
			z-index: 5;
			position: absolute;
			cursor: pointer;
			font-size: $font_large;
			&:hover {
				color: $dark;
			}
		}
	}

	.diagonal-container {
		@include diagonal-container;

		.logo-and-title {
			padding-top: 5%;
			width: 80%;
			margin: 0px auto;
			height: 50px;
			background-color: red;
		}

		.large-6 {
			padding: 0;
			margin: 0;
			position: relative;
			img {
				width: 120%;
				margin: -5% 0 -5% -6.5%;
				opacity: 0.9	;
				@include transition;
				&:hover {
					@include transition;
				  opacity: 1;
				}
				@include invert-diagonal;

				@media screen and (max-width: 600px) {
			    	margin: -5% 0 -5% 0%;
				}

			}
		}

	}
}

@media only screen and (min-width:1025px) and (max-width: 1068px)  {
	.large-6.small-12.columns.case-study.khanlucas {
	    padding: 11vw 0 8vw 0;
	}
}

@media only screen and (min-width:1025px) and (max-width: 1030px)  {
	.large-6.small-12.columns.case-study.popcorn {
	    padding: 10.9vw 0 8vw 0;
	}
}
